web/startWorkflow2.json
{
  "Id": "3497da46-d508-43e4-aaae-48e341ab19a3",
  "Trigger": "api",
  "CurrentStage": "defaultPrelimVideoStage",
  "Globals": {
    "Media": {
      "Video": {
        "S3Bucket": "webdevcon2-miestack-mwvutfxy5a2n-dataplane-1p6mf2mr4zbgv",
        "S3Key": "upload/the_lucy_show_french_movie_star.mp4"
      }
    },
    "MetaData": {}
  },
  "Configuration": {},
  "AssetId": "208dd678-7d29-466c-b605-8856e62108ee",
  "Version": "v0",
  "Created": "1646759564.382753",
  "ResourceType": "WORKFLOW_EXECUTION",
  "ApiVersion": "3.0.0",
  "Workflow": {
    "ServiceToken": "arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFX-WorkflowCustomResource-gq624cvyQgib",
    "Revisions": "1",
    "ResourceType": "WORKFLOW",
    "Stages": {
      "defaultAudioStage": {
        "ServiceToken": "arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFX-WorkflowCustomResource-gq624cvyQgib",
        "ApiVersion": "3.0.0",
        "Configuration": {
          "TranscribeVideo": {
            "MediaType": "Video",
            "Enabled": true,
            "TranscribeLanguage": "en-US",
            "Subtitles": []
          }
        },
        "Version": "v0",
        "Definition": "{\"StartAt\": \"defaultAudioStage\", \"States\": {\"Complete Stage defaultAudioStage\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A-CompleteStageLambda-VUgeHeCJqbSk\", \"End\": true}, \"defaultAudioStage\": {\"Type\": \"Parallel\", \"Next\": \"Complete Stage defaultAudioStage\", \"ResultPath\": \"$.Outputs\", \"Branches\": [{\"StartAt\": \"Filter TranscribeVideo Media Type? (defaultAudioStage)\", \"States\": {\"Filter TranscribeVideo Media Type? (defaultAudioStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"TranscribeVideo\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.TranscribeVideo\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip TranscribeVideo? (defaultAudioStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"TranscribeVideo Failed (defaultAudioStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip TranscribeVideo? (defaultAudioStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute TranscribeVideo (defaultAudioStage)\"}], \"Default\": \"TranscribeVideo Not Started (defaultAudioStage)\"}, \"TranscribeVideo Not Started (defaultAudioStage)\": {\"Type\": \"Succeed\"}, \"Execute TranscribeVideo (defaultAudioStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTF-StartTranscribeFunction-vt5C3ZsrQuul\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"TranscribeVideo Wait (defaultAudioStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"TranscribeVideo Failed (defaultAudioStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"TranscribeVideo Wait (defaultAudioStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get TranscribeVideo Status (defaultAudioStage)\"}, \"Get TranscribeVideo Status (defaultAudioStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTF-CheckTranscribeFunction-v76AAPRa2BAG\", \"Next\": \"Did TranscribeVideo Complete (defaultAudioStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"TranscribeVideo Failed (defaultAudioStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did TranscribeVideo Complete (defaultAudioStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"TranscribeVideo Wait (defaultAudioStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"TranscribeVideo Succeeded (defaultAudioStage)\"}], \"Default\": \"TranscribeVideo Failed (defaultAudioStage)\"}, \"TranscribeVideo Failed (defaultAudioStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"TranscribeVideo Succeeded (defaultAudioStage)\": {\"Type\": \"Succeed\"}}}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"Complete Stage defaultAudioStage\", \"ResultPath\": \"$.Outputs\"}]}}}",
        "End": true,
        "ResourceType": "STAGE",
        "Id": "f8add715-3aa0-4f6c-a755-1837abe8b400",
        "Operations": [
          "TranscribeVideo"
        ],
        "Name": "defaultAudioStage",
        "Created": "1646706843.779035",
        "Status": "Not Started",
        "Metrics": {},
        "AssetId": "208dd678-7d29-466c-b605-8856e62108ee",
        "WorkflowExecutionId": "3497da46-d508-43e4-aaae-48e341ab19a3",
        "MetaData": {}
      },
      "defaultPrelimVideoStage": {
        "ServiceToken": "arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFX-WorkflowCustomResource-gq624cvyQgib",
        "ApiVersion": "3.0.0",
        "Configuration": {
          "Thumbnail": {
            "MediaType": "Video",
            "Enabled": true
          },
          "Mediainfo": {
            "MediaType": "Video",
            "Enabled": true
          }
        },
        "Version": "v0",
        "Next": "defaultVideoStage",
        "Definition": "{\"StartAt\": \"defaultPrelimVideoStage\", \"States\": {\"Complete Stage defaultPrelimVideoStage\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A-CompleteStageLambda-VUgeHeCJqbSk\", \"End\": true}, \"defaultPrelimVideoStage\": {\"Type\": \"Parallel\", \"Next\": \"Complete Stage defaultPrelimVideoStage\", \"ResultPath\": \"$.Outputs\", \"Branches\": [{\"StartAt\": \"Filter Thumbnail Media Type? (defaultPrelimVideoStage)\", \"States\": {\"Filter Thumbnail Media Type? (defaultPrelimVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"Thumbnail\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.Thumbnail\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip Thumbnail? (defaultPrelimVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"Thumbnail Failed (defaultPrelimVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip Thumbnail? (defaultPrelimVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute Thumbnail (defaultPrelimVideoStage)\"}], \"Default\": \"Thumbnail Not Started (defaultPrelimVideoStage)\"}, \"Thumbnail Not Started (defaultPrelimVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute Thumbnail (defaultPrelimVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFX-StartThumbnailFunction-pCOgVeBBbgWF\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Thumbnail Wait (defaultPrelimVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"Thumbnail Failed (defaultPrelimVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Thumbnail Wait (defaultPrelimVideoStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get Thumbnail Status (defaultPrelimVideoStage)\"}, \"Get Thumbnail Status (defaultPrelimVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFX-CheckThumbnailFunction-tF7aM2SBvzDI\", \"Next\": \"Did Thumbnail Complete (defaultPrelimVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"Thumbnail Failed (defaultPrelimVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did Thumbnail Complete (defaultPrelimVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"Thumbnail Wait (defaultPrelimVideoStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"Thumbnail Succeeded (defaultPrelimVideoStage)\"}], \"Default\": \"Thumbnail Failed (defaultPrelimVideoStage)\"}, \"Thumbnail Failed (defaultPrelimVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"Thumbnail Succeeded (defaultPrelimVideoStage)\": {\"Type\": \"Succeed\"}}}, {\"StartAt\": \"Filter Mediainfo Media Type? (defaultPrelimVideoStage)\", \"States\": {\"Filter Mediainfo Media Type? (defaultPrelimVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"Mediainfo\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.Mediainfo\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip Mediainfo? (defaultPrelimVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"Mediainfo Failed (defaultPrelimVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip Mediainfo? (defaultPrelimVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute Mediainfo (defaultPrelimVideoStage)\"}], \"Default\": \"Mediainfo Not Started (defaultPrelimVideoStage)\"}, \"Mediainfo Not Started (defaultPrelimVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute Mediainfo (defaultPrelimVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A2N-Operato-Mediainfo-iV5Ir9Xd28fY\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Did Mediainfo Complete (defaultPrelimVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"Mediainfo Failed (defaultPrelimVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did Mediainfo Complete (defaultPrelimVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"Mediainfo Succeeded (defaultPrelimVideoStage)\"}], \"Default\": \"Mediainfo Failed (defaultPrelimVideoStage)\"}, \"Mediainfo Failed (defaultPrelimVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"Mediainfo Succeeded (defaultPrelimVideoStage)\": {\"Type\": \"Succeed\"}}}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"Complete Stage defaultPrelimVideoStage\", \"ResultPath\": \"$.Outputs\"}]}}}",
        "ResourceType": "STAGE",
        "Id": "bcec4881-32a8-4943-9682-4eded592e1bb",
        "Operations": [
          "Thumbnail",
          "Mediainfo"
        ],
        "Name": "defaultPrelimVideoStage",
        "Created": "1646706843.073322",
        "Status": "Started",
        "Metrics": {},
        "AssetId": "208dd678-7d29-466c-b605-8856e62108ee",
        "WorkflowExecutionId": "3497da46-d508-43e4-aaae-48e341ab19a3",
        "MetaData": {},
        "Input": {
          "Media": {
            "Video": {
              "S3Bucket": "webdevcon2-miestack-mwvutfxy5a2n-dataplane-1p6mf2mr4zbgv",
              "S3Key": "upload/the_lucy_show_french_movie_star.mp4"
            }
          },
          "MetaData": {}
        }
      },
      "defaultVideoStage": {
        "ServiceToken": "arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFX-WorkflowCustomResource-gq624cvyQgib",
        "ApiVersion": "3.0.0",
        "Configuration": {
          "faceDetection": {
            "MediaType": "Video",
            "Enabled": true
          },
          "textDetection": {
            "MediaType": "Video",
            "Enabled": true
          },
          "celebrityRecognition": {
            "MediaType": "Video",
            "Enabled": true
          },
          "labelDetection": {
            "MediaType": "Video",
            "Enabled": true
          },
          "shotDetection": {
            "MediaType": "Video",
            "Enabled": true
          },
          "technicalCueDetection": {
            "MediaType": "Video",
            "Enabled": true
          },
          "contentModeration": {
            "MediaType": "Video",
            "Enabled": true
          }
        },
        "Version": "v0",
        "Next": "defaultAudioStage",
        "Definition": "{\"StartAt\": \"defaultVideoStage\", \"States\": {\"Complete Stage defaultVideoStage\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A-CompleteStageLambda-VUgeHeCJqbSk\", \"End\": true}, \"defaultVideoStage\": {\"Type\": \"Parallel\", \"Next\": \"Complete Stage defaultVideoStage\", \"ResultPath\": \"$.Outputs\", \"Branches\": [{\"StartAt\": \"Filter celebrityRecognition Media Type? (defaultVideoStage)\", \"States\": {\"Filter celebrityRecognition Media Type? (defaultVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"celebrityRecognition\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.celebrityRecognition\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip celebrityRecognition? (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"celebrityRecognition Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip celebrityRecognition? (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute celebrityRecognition (defaultVideoStage)\"}], \"Default\": \"celebrityRecognition Not Started (defaultVideoStage)\"}, \"celebrityRecognition Not Started (defaultVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute celebrityRecognition (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUT-startCelebrityRecognitio-72PPLkzXQc39\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"celebrityRecognition Wait (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"celebrityRecognition Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"celebrityRecognition Wait (defaultVideoStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get celebrityRecognition Status (defaultVideoStage)\"}, \"Get celebrityRecognition Status (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUT-checkCelebrityRecognitio-uEwt0S4czgNw\", \"Next\": \"Did celebrityRecognition Complete (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"celebrityRecognition Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did celebrityRecognition Complete (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"celebrityRecognition Wait (defaultVideoStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"celebrityRecognition Succeeded (defaultVideoStage)\"}], \"Default\": \"celebrityRecognition Failed (defaultVideoStage)\"}, \"celebrityRecognition Failed (defaultVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"celebrityRecognition Succeeded (defaultVideoStage)\": {\"Type\": \"Succeed\"}}}, {\"StartAt\": \"Filter contentModeration Media Type? (defaultVideoStage)\", \"States\": {\"Filter contentModeration Media Type? (defaultVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"contentModeration\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.contentModeration\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip contentModeration? (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"contentModeration Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip contentModeration? (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute contentModeration (defaultVideoStage)\"}], \"Default\": \"contentModeration Not Started (defaultVideoStage)\"}, \"contentModeration Not Started (defaultVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute contentModeration (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFX-startContentModeration-GQTVMclZUHiV\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"contentModeration Wait (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"contentModeration Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"contentModeration Wait (defaultVideoStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get contentModeration Status (defaultVideoStage)\"}, \"Get contentModeration Status (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFX-checkContentModeration-KuW5naOd5x3p\", \"Next\": \"Did contentModeration Complete (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"contentModeration Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did contentModeration Complete (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"contentModeration Wait (defaultVideoStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"contentModeration Succeeded (defaultVideoStage)\"}], \"Default\": \"contentModeration Failed (defaultVideoStage)\"}, \"contentModeration Failed (defaultVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"contentModeration Succeeded (defaultVideoStage)\": {\"Type\": \"Succeed\"}}}, {\"StartAt\": \"Filter faceDetection Media Type? (defaultVideoStage)\", \"States\": {\"Filter faceDetection Media Type? (defaultVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"faceDetection\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.faceDetection\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip faceDetection? (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"faceDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip faceDetection? (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute faceDetection (defaultVideoStage)\"}], \"Default\": \"faceDetection Not Started (defaultVideoStage)\"}, \"faceDetection Not Started (defaultVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute faceDetection (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A2-startFaceDetection-bn3o1Bbdkj1D\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"faceDetection Wait (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"faceDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"faceDetection Wait (defaultVideoStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get faceDetection Status (defaultVideoStage)\"}, \"Get faceDetection Status (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A2-checkFaceDetection-6naBorMh8aZb\", \"Next\": \"Did faceDetection Complete (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"faceDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did faceDetection Complete (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"faceDetection Wait (defaultVideoStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"faceDetection Succeeded (defaultVideoStage)\"}], \"Default\": \"faceDetection Failed (defaultVideoStage)\"}, \"faceDetection Failed (defaultVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"faceDetection Succeeded (defaultVideoStage)\": {\"Type\": \"Succeed\"}}}, {\"StartAt\": \"Filter labelDetection Media Type? (defaultVideoStage)\", \"States\": {\"Filter labelDetection Media Type? (defaultVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"labelDetection\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.labelDetection\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip labelDetection? (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"labelDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip labelDetection? (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute labelDetection (defaultVideoStage)\"}], \"Default\": \"labelDetection Not Started (defaultVideoStage)\"}, \"labelDetection Not Started (defaultVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute labelDetection (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A-startLabelDetection-ILhm1SdzhaGi\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"labelDetection Wait (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"labelDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"labelDetection Wait (defaultVideoStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get labelDetection Status (defaultVideoStage)\"}, \"Get labelDetection Status (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A-checkLabelDetection-1g0IXvpCGYXe\", \"Next\": \"Did labelDetection Complete (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"labelDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did labelDetection Complete (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"labelDetection Wait (defaultVideoStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"labelDetection Succeeded (defaultVideoStage)\"}], \"Default\": \"labelDetection Failed (defaultVideoStage)\"}, \"labelDetection Failed (defaultVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"labelDetection Succeeded (defaultVideoStage)\": {\"Type\": \"Succeed\"}}}, {\"StartAt\": \"Filter textDetection Media Type? (defaultVideoStage)\", \"States\": {\"Filter textDetection Media Type? (defaultVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"textDetection\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.textDetection\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip textDetection? (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"textDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip textDetection? (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute textDetection (defaultVideoStage)\"}], \"Default\": \"textDetection Not Started (defaultVideoStage)\"}, \"textDetection Not Started (defaultVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute textDetection (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A2-startTextDetection-0a4AGILsyiWX\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"textDetection Wait (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"textDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"textDetection Wait (defaultVideoStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get textDetection Status (defaultVideoStage)\"}, \"Get textDetection Status (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A2-checkTextDetection-Rf6w8gOZqnqS\", \"Next\": \"Did textDetection Complete (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"textDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did textDetection Complete (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"textDetection Wait (defaultVideoStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"textDetection Succeeded (defaultVideoStage)\"}], \"Default\": \"textDetection Failed (defaultVideoStage)\"}, \"textDetection Failed (defaultVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"textDetection Succeeded (defaultVideoStage)\": {\"Type\": \"Succeed\"}}}, {\"StartAt\": \"Filter technicalCueDetection Media Type? (defaultVideoStage)\", \"States\": {\"Filter technicalCueDetection Media Type? (defaultVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"technicalCueDetection\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.technicalCueDetection\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip technicalCueDetection? (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"technicalCueDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip technicalCueDetection? (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute technicalCueDetection (defaultVideoStage)\"}], \"Default\": \"technicalCueDetection Not Started (defaultVideoStage)\"}, \"technicalCueDetection Not Started (defaultVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute technicalCueDetection (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUT-startTechnicalCueDetecti-lLPNNVkBIG5V\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"technicalCueDetection Wait (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"technicalCueDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"technicalCueDetection Wait (defaultVideoStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get technicalCueDetection Status (defaultVideoStage)\"}, \"Get technicalCueDetection Status (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUT-checkTechnicalCueDetecti-yfDsYG5CY5So\", \"Next\": \"Did technicalCueDetection Complete (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"technicalCueDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did technicalCueDetection Complete (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"technicalCueDetection Wait (defaultVideoStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"technicalCueDetection Succeeded (defaultVideoStage)\"}], \"Default\": \"technicalCueDetection Failed (defaultVideoStage)\"}, \"technicalCueDetection Failed (defaultVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"technicalCueDetection Succeeded (defaultVideoStage)\": {\"Type\": \"Succeed\"}}}, {\"StartAt\": \"Filter shotDetection Media Type? (defaultVideoStage)\", \"States\": {\"Filter shotDetection Media Type? (defaultVideoStage)\": {\"Type\": \"Task\", \"Parameters\": {\"StageName.$\": \"$.Name\", \"Name\": \"shotDetection\", \"Input.$\": \"$.Input\", \"Configuration.$\": \"$.Configuration.shotDetection\", \"AssetId.$\": \"$.AssetId\", \"WorkflowExecutionId.$\": \"$.WorkflowExecutionId\", \"Type\": \"Video\", \"Status\": \"$.Status\"}, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY-FilterOperationLambda-dLSxHg3pMBoK\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"Skip shotDetection? (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"shotDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Skip shotDetection? (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Started\", \"Next\": \"Execute shotDetection (defaultVideoStage)\"}], \"Default\": \"shotDetection Not Started (defaultVideoStage)\"}, \"shotDetection Not Started (defaultVideoStage)\": {\"Type\": \"Succeed\"}, \"Execute shotDetection (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A2-startShotDetection-ti9Pl3Xt9i7I\", \"ResultPath\": \"$.Outputs\", \"OutputPath\": \"$.Outputs\", \"Next\": \"shotDetection Wait (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"shotDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"shotDetection Wait (defaultVideoStage)\": {\"Type\": \"Wait\", \"Seconds\": 10, \"Next\": \"Get shotDetection Status (defaultVideoStage)\"}, \"Get shotDetection Status (defaultVideoStage)\": {\"Type\": \"Task\", \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5A2-checkShotDetection-pqT485DbUBT5\", \"Next\": \"Did shotDetection Complete (defaultVideoStage)\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"shotDetection Failed (defaultVideoStage)\", \"ResultPath\": \"$.Outputs\"}]}, \"Did shotDetection Complete (defaultVideoStage)\": {\"Type\": \"Choice\", \"Choices\": [{\"Variable\": \"$.Status\", \"StringEquals\": \"Executing\", \"Next\": \"shotDetection Wait (defaultVideoStage)\"}, {\"Variable\": \"$.Status\", \"StringEquals\": \"Complete\", \"Next\": \"shotDetection Succeeded (defaultVideoStage)\"}], \"Default\": \"shotDetection Failed (defaultVideoStage)\"}, \"shotDetection Failed (defaultVideoStage)\": {\"Type\": \"Task\", \"End\": true, \"Resource\": \"arn:aws:lambda:us-east-1:773074507832:function:webdevcon2-MieStack-MWVUTFXY5-OperatorFailedLambda-k16WGEJnT0Kn\", \"ResultPath\": \"$\", \"Retry\": [{\"ErrorEquals\": [\"Lambda.ServiceException\", \"Lambda.AWSLambdaException\", \"Lambda.SdkClientException\", \"Lambda.Unknown\", \"MasExecutionError\"], \"IntervalSeconds\": 2, \"MaxAttempts\": 2, \"BackoffRate\": 2}]}, \"shotDetection Succeeded (defaultVideoStage)\": {\"Type\": \"Succeed\"}}}], \"Catch\": [{\"ErrorEquals\": [\"States.ALL\"], \"Next\": \"Complete Stage defaultVideoStage\", \"ResultPath\": \"$.Outputs\"}]}}}",
        "ResourceType": "STAGE",
        "Id": "4308efa1-ecf0-4c25-94ec-4a422066d062",
        "Operations": [
          "celebrityRecognition",
          "contentModeration",
          "faceDetection",
          "labelDetection",
          "textDetection",
          "technicalCueDetection",
          "shotDetection"
        ],
        "Name": "defaultVideoStage",
        "Created": "1646706843.943716",
        "Status": "Not Started",
        "Metrics": {},
        "AssetId": "208dd678-7d29-466c-b605-8856e62108ee",
        "WorkflowExecutionId": "3497da46-d508-43e4-aaae-48e341ab19a3",
        "MetaData": {}
      }
    },
    "Created": "1646706849.407516",
    "StartAt": "defaultPrelimVideoStage",
    "StateMachineArn": "arn:aws:states:us-east-1:773074507832:stateMachine:CasVideoWorkflow-sdl4gg",
    "Version": "v0",
    "Trigger": "custom-resource",
    "ApiVersion": "3.0.0",
    "Operations": [
      "Thumbnail",
      "Mediainfo",
      "celebrityRecognition",
      "contentModeration",
      "faceDetection",
      "labelDetection",
      "textDetection",
      "technicalCueDetection",
      "shotDetection",
      "TranscribeVideo"
    ],
    "StaleOperations": [],
    "Id": "9a49a92d-dca2-41d7-b940-98969cf41de2",
    "StaleStages": [],
    "Name": "CasVideoWorkflow"
  },
  "Status": "Queued"
}
